body{
    font-family: "Arial";
    background-color: #ebebeb;
    font-size: 16px;
    margin: 0px;
}
nav{
    background-color: #ffb71d;
    text-align: center;
    overflow: auto;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
}
nav div:nth-child(1){
    width: 80%;
}
nav div:nth-child(2){
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#imgPrincipal{
    background-image: url("../img/img_principal.jpg") ;
    background-size: cover;
    height: 360px;
    margin: 0px;
    border-radius: 0px;
}
section {
    padding: 4px;
    background-color: rgba(255, 69, 0, 0.7);
    border-radius: 7px;
    margin: 2px;
    overflow: auto;
}
footer{
    text-align: center;
    background-color: #d27145;
    overflow: auto;
    padding: 12px;
}
@media screen and (min-width: 640px) {

    nav div:nth-child(1){
        width: 100%;
    }

    nav div:nth-child(2) {
        display: none;
    }
}
